:root {
    --color-bg: #f7f7ff;
    --color-primary: #ff9301;
    --color-title: #0b0b15;
    --color-text: #555555;
    --color-borders: #bbbbbb;
    --color-separators: #eeeeee;
    --color-header-bg-circle: #ffca93;
    --section-padding-small: 4vw;
    --max-content-width: 1140px;
    --font: 'Roboto', sans-serif;
}

html {
    font-family: var(--font);
}

body {
    margin: 0;
}

h1 {
    font-size: 6em;
    font-weight: 900;
    margin: 0;
    color: var(--color-title);
}

p, time {
    line-height: 1.5em;
    color: var(--color-text);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg-blue {
    background-color: var(--color-bg);
}

.section {
    padding: 2vw var(--section-padding-small);
    max-width: var(--max-content-width);
    margin: auto;
}

.section-title {
    margin: 0.5em 0 1em 0;
    bottom: 0.025rem;
    position: relative;
    z-index: 1;
}

.section-title::before {
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: var(--color-primary);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    left: -0.6rem;
    top: -0.5rem;
    z-index: -1;
}

.separator {
    display: block;
    height: 6px;
    background-image: url(border-dark.png);
    background-size: contain;
    border: unset;
    margin: 0;  
}

.icon {
    width: 32px;
    height: 32px;
}

/* HEADER */

.hello {
    color: var(--color-title);
}

.fullstack-dev {
    display: block;
    color: var(--color-primary);
    font-size: 0.3em;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.nav__link {
    background-color: var(--color-primary);
    color: var(--color-title);
    border-radius: 0.3em;
    text-decoration: none;
    display: block;
    flex: 1 0 23%;
    padding: 1em;
    text-align: center;
}

/**/

/* BIOGRAPHY */

.avatar {
    text-align: center;
    margin: 0 0 3.8em 0;
}

.avatar__img {
    background-color: var(--color-primary);
    border-radius: 50%;
    max-width: 240px;
    margin: 1em auto;
}

.avatar__title {
    display: block;
    color: var(--color-title);
    font-weight: 900;
    font-size: 2em;
}

.avatar__subtitle {
    display: block;
    color: var(--color-primary);
    line-height: 1.5em;
}

/**/

/* WHAT I DO */

.what-i-do-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin-bottom: 0;
    margin-top: 1em;
}

.card {
    display: block;
    background: radial-gradient(500px circle at 75px 30px, var(--color-primary) 20%, white 20.25%);
    border-radius: 1em;
    padding: 1em 2em 2em 2em;
}

.card__img {
    width: 80px;
    height: 80px;
    margin-bottom: 4.5rem;
}

.card__title {
    margin-top: 2em;
}

.card__text {
    margin: 0;
}

/**/

/* AWARDS */

.awards-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    margin-bottom: 1em;
}

.awards-list__item {
    display: flex;
    align-items: center;
    border-radius: 1em;
    background-color: white;
    padding: 1em;
    gap: 1em;
    flex-flow: row nowrap;
}

.awards-list__item img {
    max-width: 48px;
}

/**/

/* EXPERIENCE */

.experience-list {
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
    margin-bottom: 0;
}

.experience-list__item {
    background-color: var(--color-bg);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-flow: column nowrap;
}

.badge {
    display: block;
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: white;
    width: fit-content;
    padding: 0.35rem;
    border-radius: 0.3em;
}

.badge--secondary {
    background-color: var(--color-text);
}

/**/

/* MY PORTFOLIO */

.portfolio-list {
    display: grid;
    gap: 1em;
    margin-bottom: 0;
    max-width: var(--max-content-width);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-item__title {
    margin-bottom: 0;
}

.portfolio-item__time {
    font-size: 0.9em;
}

/**/

/* CONTACT */

.contact-flex__item {
    margin-top: 3rem;
}

.contact-list {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.contact-list__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-style: normal;
    font-weight: 900;
}

.contact-list__item img {
    margin-right: 1rem;
}

.contact-list__item a {
    font-weight: 900;
    text-decoration: none;
    color: var(--color-title);
}

.form {
    display: block;
}

.form__input {
    display: block;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.form__input--textarea {
    resize: vertical;
    font-family: var(--font);
}

.form__input--submit {
    background-color: var(--color-title);
    color: white;
    font-weight: 900;
    border-radius: 0.3em;
    width: fit-content;
    border: none;
}

.map {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: 3px solid white;
    filter: grayscale(1);
}

/**/

/* FOOTER */

.footer {
    border-top: 1px solid var(--color-separators);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5em;
}

.social-links {
    /* display: flex; */
}

.social-links__link {
    display: inline-block;
    margin-right: 0.5em;
}

.copyright {
    color: var(--color-text);
    font-size: 1em;
}

/**/

@media only screen and (min-width: 560px) {
    /* HEADER */

    .intro-text {
        width: 50%;
    }

    .nav {
        height: 3em;
        align-items: center;
    }

    .nav__link {
        background-color: unset;
        color: var(--color-text);
        border-radius: 0;
        padding: 0 0 0.5em 0;
        text-align: left;
        border-bottom: 3px solid transparent;
        /* width: fit-content; */
        flex: 0 0 auto;
    }

    .nav__link:hover {
        color: var(--color-title);
        border-bottom: 3px solid var(--color-primary);
    }

    /**/

    /* BIOGRAPHY */
    /**/

    /* AWARDS */

    .awards-list {
        flex-flow: row nowrap;
    }
    
    .awards-list__item {
        text-align: center;
        padding: 2em;
        flex-flow: column nowrap;
        flex: 1 1 0;
    }

    /**/

    /* EXPERIENCE */

    .experience-list__item {
        padding: 2em;
        flex-flow: row nowrap;
        align-items: center;
        gap: 2em;
    }

    .experience-list__item__header {
        flex: 1;
    }

    .experience-list__item__content {
        flex: 3;
        padding-left: 2em;
        border-left: 1px solid var(--color-separators);
    }

    .experience-list__item__content .card__title {
        margin-top: 1.5em;
    }

    .experience-list__item__content .card__text {
        margin-bottom: 6px;
    }

    /**/
    
    /* PORTFOLIO */
    /**/

    /* CONTACT */

    .contact-flex {
        margin-bottom: 2em;
    }

    /* todo lepsi nazev */
    .input-group-md-inline {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
    }

    .input-group-md-inline .form__input {
        flex: 1;
    }

    /**/

    /* FOOTER */

    .footer {
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    /**/
}

@media only screen and (min-width: 960px) {
    /* HEADER */

    .bg-header {
        background: linear-gradient(to right, rgba(255,255,255,1) 70%, var(--color-header-bg-circle) 70%, var(--color-header-bg-circle) 100%); 
    }

    header.section {
        position: relative;
        background: radial-gradient(1600px circle at 80% 50%, var(--color-header-bg-circle) 20%, transparent 20.1%);
    }

    header.section::after {
        display: block;
        content: '';
        background: url('avatar.svg') no-repeat;
        background-size: 400px 376px;
        width: 400px;
        height: 376px;
        position: absolute;
        right: 4vw;
        bottom: 0;
        padding: 0;
    }

    /**/

    /* BIOGRAPHY */

    .biography-flex {
        display: flex;
        gap: 6em;
    }

    .avatar {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: initial;
    }

    .avatar__img {
        margin: 1em 0;
    }

    .biography-content {
        flex: 1 1 70%;
        margin-top: 3em;
    }

    /**/

    /* WHAT I DO */

    .what-i-do-list__item {
        flex: 1 1 0;
    }

    /**/

    /* EXPERIENCE */
    /**/

    /* PORTFOLIO */
    /**/

    /* CONTACT */
    
    .contact-flex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;
    }

    .contact-flex__item {
        flex: 1;
        margin-top: 0;
    }

    /**/
}